@model List<PhoneBook.Models.PersonModel>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.ID)
            </td>

            <td>
                @Html.DisplayFor(x => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(x => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(x => item.Phone)
            </td>

            <td>
                @Html.DisplayFor(x => item.Email)
            </td>

            <td>
                @Html.DisplayFor(x => item.CreatedDate)
            </td>

            <td>
                @Html.DisplayFor(x => item.UpdateDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>

            <td>
                @Html.ActionLink("Delete", "Add", new { id = item.ID })
            </td>

            <td>
                @Html.ActionLink("Details", "Index", new { id = item.ID })
            </td>
        </tr>


    }

</table>